<mat-card>
    <mat-card-header>
        <mat-card-title>
          {{member.first_name}} {{member.last_name}}
          <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-user>Expand</button>
            <button mat-menu-user>Remove</button>
          </mat-menu> -->
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="member.image" [src]="member.image.data.thumbnails[0].url">
    <mat-card-content class="dashboard-card-content" fxLayout="row" fxLayoutAlign="space-between center ">
      <button mat-button (click)="getOrders()">Bestellungen</button>
    </mat-card-content>
  </mat-card>